.card {
  position: relative;
  border: 1px solid #0000004d;
  background: #e9e9e9;
  border-radius: 10px;
  width: 325px;

  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}

.card__name {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-family: "Cabinet Grotesk Bold", Arial, sans-serif;
  font-weight: 700;
  color: #000;
  opacity: 60%;
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding: 2px 12px;
  border-radius: 4px;
}

.card__image {
  height: 328px;
  border: 1px;
  border: #0000004d;
  border-radius: 19px;
}

@media screen and (max-width: 627px) {
  .card {
    position: relative;
    width: 162px;
  }

  .card__name {
    position: absolute;
    font-size: 16px;
    top: 8px;
  }
  .card__image {
    width: 162px;
    height: 162px;
  }

  .cards__text {
    margin: 0;
    padding-top: 32px;
    padding-bottom: 20px;
    font-size: 20px;
  }
}
