.page {
  background-color: #f3f3f3;
  font-family: "Cabinet Grotesk Bold", Arial, sans-serif;
}

.page__content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 375px) {
  .page__content {
    padding: 0 16px;
    max-width: 100%;
  }
}
