.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-type: none;
}
@media screen and (max-width: 375px) {
  .cards__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    justify-content: center;
  }
}
