.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-family: "Cabinet Grotesk Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.header__add-clothes-btn {
  margin-left: auto;
  margin: 0 20px 0 auto;
  font-size: 20px;
  line-height: 24px;
  border: none;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  line-height: 24px;
}

.header__username {
  margin: 0;
}
.header__nav {
  display: none;
}
.header__mobile-menu-btn {
  display: none;
  width: 44px;
  height: 44px;
  top: 18px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.header__mobile-menu-icon {
  width: 44px;
  height: 44px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 627px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 16px;
    padding-top: 18px;
  }

  .header__date-and-location {
    display: block;
    width: 100%;
    order: 3;
    padding-top: 32px;
    font-family: "Cabinet Grotesk Bold", Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }
  .header__add-clothes-btn {
    display: none;
  }
  .header__user-container {
    display: none;
  }

  .header__logo {
    order: 1;
    margin-right: 0;
  }

  .header__mobile-menu-btn {
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
  }
  .header__nav {
    display: none;
  }

  .header__nav_opened {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 18px;

    align-items: center;
    width: 343px;
    height: 208px;
    background: #fff;
    border-radius: 12px;
    z-index: 9999;
  }

  .header__nav_closed {
    display: none;
  }

  .header__nav-close {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .header__mobile-menu-btn {
    display: flex;
  }

  .header__nav-user {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 12px;
    padding-top: 60px;
  }

  .header__nav-username {
    margin: 0;
    font-weight: 700;
  }

  .header__nav-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }

  .header__nav-add-btn {
    width: 100%;
    border: none;
    background: transparent;
    padding: 12px 0;
    font-weight: 700;
    cursor: pointer;
  }
}
