.modal__content_type_image {
  position: relative;
  padding: 0;
  border-radius: 16px;
  overflow: hidden;
  width: 498px;
  height: 610px;
}
.modal__image {
  width: 100%;
  height: 498px;
  object-fit: cover;
}
.modal__close {
  color: white;
}

.modal__caption {
  margin: 0;
  padding-left: 32px;
  padding-top: 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal__weather {
  margin: 0;
  padding: 12px 0 32px 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal__close-btn {
  background: url("../../assets/whiteclose.png") center no-repeat;
}

@media screen and (max-width: 627px) {
  .modal__content_type_image {
    position: fixed;
    border-radius: 12px;
    width: 343px;
    height: 463px;
  }
  .modal__image {
    width: 100%;
    height: 343px;
  }

  .modal__close-btn {
    background: url("../../assets/blackclose.png");
  }
}
