.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__name {
  font-family: "Cabinet Grotesk Medium", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #212121;
}

.footer__year {
  font-family: "Cabinet Grotesk Medium", Arial, sans-serif;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
}
